{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <head>
    <title>Adopt a Woof</title>
  </head>
  <header>
    <div <class="header-content">
      <div class="header-content-inner text-center">
        <h1 class="header-name"> About </h1>
        <h4 class="header-tag-line">A web-based application utilizing IBM Watson Conversation and Natural Language Understanding technologies and other 3rd-party API’s. Where, a user can use the website to search for a particular type of dog tailored to their specific wants and needs.  </h4>
        <br>
      </div>
    </div>
  </header>

    {% endblock %}
