{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<head>
  <meta charset="utf-8">
  <title>Adopt a Woof</title>

  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-grid.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>

<header>
  <div <class="header-content">
    <div class="header-content-inner text-center">
      <h1 class="header-name"> Adopt a Woof </h1>
      <h4 class="header-tag-line"> A Place you come to meet your bestfriend.</h4>
      <br>
    </div>
  </div>
</header>

<div class="col-sm-12 text-center">
  <a href="{% url 'filter' %}"><button class="btn btn-secondary btn-lg">Begin</button></a>
</div>

<footer class="footer">
<div class="col-sm-12 text-center">
   <h4 class="header-tag-line">&copy; This is Dane</h4>
 </div>
</footer>
{% endblock %}
